<!DOCTYPE html>
<html>
  <head>
    <title>Moviez</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <h1>Eventz</h1></header>
  <div class="content">
    <%= yield %>
    </div>
    <footer>
    Made by <a href="#">Shubham Singh</a>
    </footer>
  </body>
</html>
